.counter-heading {
  background-color: beige !important;
}

button {
  background-color: deeppink;
  color: #fff;
}

.counter-input button {
  background-color: midnightblue;
}

.counter-input button:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.data-container {
  background-color: olive !important;
  padding: 8px;
}

.data-container div {
  border-radius: 4px;
  border: 1px solid #fff;
  margin: 8px;
  padding: 8px;
  width: 50%;
}
